
MIP1_Luiza.ipynb
Untitled.ipynb
.ipynb_checkpoints/MIP1_Luiza-checkpoint.ipynb
busca completa array com códigos de teste.ipynb
Hzcorte e busca local -- estruturado.ipynb
Busca Local Albertini - Teste1.ipynb
.ipynb_checkpoints/tudo_junto-checkpoint.ipynb
.ipynb_checkpoints/Hzcorte e busca local -- estruturado-checkpoint.ipynb
.ipynb_checkpoints/Busca Local Albertini - Teste1-checkpoint.ipynb
.ipynb_checkpoints/busca completa maneira - Luiza-checkpoint.ipynb
